<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oportocean Tutorials</title>

    <link rel="shortcut icon" href="http://oportocean.com/sites/default/files/favicon%20%281%29.ico" type="image/vnd.microsoft.icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <style>
       #GFG {
           text-decoration: none;
       }
    </style>

    {% block head %}
    {% endblock %}


</head>
<body>

    <div class="bg-image" style="background-image: url({{ url_for('static', filename='oportocean_pics/edit.JPG') }});">

    {% block body %}
    {% endblock %}

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/405b517963.js" crossorigin="anonymous"></script>
</body>
</html>